body {
  --clr-primary-100: white;
  --clr-primary-400: hsl(185, 75%, 39%);
  --clr-primary-600: hsl(227, 10%, 46%);
  --clr-primary-900: hsl(229, 23%, 23%);
  --clr-neutral-500: hsl(0, 0%, 59%);

  --br: 1em;
}

body {
  padding: 0;
  margin: 0;
}

.__text-header{
  font-size: 18px;
  color: var(--clr-primary-900);
  font-weight: 700;
}

.__text-header-weight {
  font-weight: 700;
}

.__text-descriptor {
  margin-top: 0.5em;
  font-size: 0.85em;
  color: var(--clr-primary-600);
}

.__mx-auto {
  margin-left: auto;
  margin-right: auto;
}

html {
  font-family: 'Kumbh Sans', sans-serif;
  font-weight: 400;
  height: 100%;
}

body {
  display: grid;
  min-height: 100%;
  background-color: var(--clr-primary-400);
  background-image: url(/images/bg-pattern-top.svg), url(/images/bg-pattern-bottom.svg);
  background-repeat: no-repeat;
  background-size: 70% 100%;
  background-position: top -50vh left -20vw, bottom -50vh right -20vw;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: var(--clr-primary-100);
  margin: auto;
  border-radius: var(--br);
  box-shadow: 0px 25px 75px 0px #0000005c;
}

.card-header {
  display: flex;
  flex-direction: column;
}

.card-header > .background {
  border-top-left-radius: var(--br);
  border-top-right-radius: var(--br);
}

.card-header > .image {
  margin-top: -15%;
  border: 6px solid var(--clr-primary-100);
  border-radius: 50%;
}

.card-body {
  padding: 1em 0;
  text-align: center;
  margin-bottom: 0.5em;
}

.card-body > .header {
  display: flex;
}
.card-body > .header > .age {
  margin-left: 0.5em;
  color: var(--clr-primary-600);
  font-size: 18px;
}

.card-footer {
  display: flex;
  justify-content: center;
  padding: 1em 0;
  border-top: 1px solid var(--clr-neutral-500);
}

.card-footer-entry {
  text-align: center;
  padding: 1em 1.5em;
}

.attribution {
  position: absolute;
  bottom: 0;
}
